# cibuildwheel configuration for pyreadr

[tool.cibuildwheel]
# for all platforms: test
test-sources = ["pyreadr/tests", "pyreadr/test_data"]
test-requires = ["pandas", "xarray"]
test-command = ["python pyreadr/tests/test_basic.py", 
]

[tool.cibuildwheel.linux]
# Install devel packages to have the header files
before-all = [
  "yum install bzip2-devel bzip2 xz-devel -y",
]

[tool.cibuildwheel.macos]
# install packages with brew to have header files
before-all = [
  "brew install xz",
]

[tool.cibuildwheel.macos.environment]
# set environment variables to be able to use the brew libraries
CFLAGS="-I$(brew --prefix xz)/include"
LDFLAGS="-L$(brew --prefix xz)/lib" 
CPPFLAGS="-I$(brew --prefix xz)/include"
PKG_CONFIG_PATH="$(brew --prefix xz)/lib/pkgconfig"

[tool.cibuildwheel.windows]
# Install mingw
#before-all = [
  #"choco install mingw --force -y",
  #'choco install mingw --force -y --no-progress --params "/InstallDir:C:\MinGW"',
#]

# write a setup.cfg to use mingw as compiler
before-build = [
    'pip install delvewheel setuptools', 
    '''python -c "import os, shutil, glob; cfg=os.path.expanduser('~\\pydistutils.cfg'); open(cfg,'w').write('[build]\ncompiler=mingw32\n[build_ext]\ncompiler=mingw32'); matches=glob.glob(r'C:\msys_build\**\libiconv-*.dll', recursive=True); src=matches[0] if matches else None; dst=os.path.join(os.path.dirname(src), 'iconv.dll') if src else None; print(f'Copying {src} to {dst}'); shutil.copy2(src, dst) if src else print('!!! ERROR: libiconv NOT FOUND !!!')"''',
    #'''python -c "import os; p = os.path.expanduser('~\\pydistutils.cfg'); t = '[build]\ncompiler=mingw32\n[build_ext]\ncompiler=mingw32'; f = open(p, 'w'); f.write(t); f.close()"''',
]

# add dlls from mingw to the wheel to be standalone
repair-wheel-command = "delvewheel repair -w {dest_dir} {wheel} --add-path C:\\msys_build\\msys64\\mingw64\\bin"

[tool.cibuildwheel.windows.environment]
# add mingw to the path
PATH="$PATH;C:\\msys_build\\msys64\\mingw64\\bin"
CC="gcc"
CXX="g++"


#[tool.cibuildwheel.config-settings.windows]
# set mingw32 and compiler
#--compiler="mingw32"
#[tool.cibuildwheel.windows]
#before-build = [
    #"python.exe setup.py config --compiler=mingw32",
#]
