# cibuildwheel configuration for pyreadr

[tool.cibuildwheel]
test-sources = ["pyreadr/tests", "pyreadr/test_data"]
test-requires = ["pandas", "xarray"]
test-command = ["python pyreadr/tests/test_basic.py", 
]

[tool.cibuildwheel.linux]
before-all = [
  "yum install bzip2-devel bzip2 xz-dev -y",
]

