# cibuildwheel configuration for pyreadr

[tool.cibuildwheel]
# for all platforms: test
test-sources = ["pyreadr/tests", "pyreadr/test_data"]
test-requires = ["pandas", "xarray"]
test-command = ["python pyreadr/tests/test_basic.py", 
]

[tool.cibuildwheel.linux]
# Install devel packages to have the header files
before-all = [
  "yum install bzip2-devel bzip2 xz-devel -y",
]

[tool.cibuildwheel.macos]
# install packages with brew to have header files
before-all = [
  "brew install xz",
]

[tool.cibuildwheel.macos.environment]
# set environment variables to be able to use the brew libraries
CFLAGS="-I$(brew --prefix xz)/include"
LDFLAGS="-L$(brew --prefix xz)/lib" 
CPPFLAGS="-I$(brew --prefix xz)/include"
PKG_CONFIG_PATH="$(brew --prefix xz)/lib/pkgconfig"

[tool.cibuildwheel.config-settings.windows]
# set mingw32 and compiler
--compiler = "mingw32"
#[tool.cibuildwheel.windows]
#before-build = [
    #"python.exe setup.py config --compiler=mingw32",
#]
