# cibuildwheel configuration for pyreadr

[tool.cibuildwheel]
# for all platforms: test
test-sources = ["pyreadr/tests", "pyreadr/test_data"]
test-requires = ["pandas", "xarray"]
test-command = ["python pyreadr/tests/test_basic.py", 
]

[tool.cibuildwheel.linux]
# Install devel packages to have the header files
before-all = [
  "yum install bzip2-devel bzip2 xz-devel -y",
]

[tool.cibuildwheel.macos]
# install packages with brew to have header files
before-all = [
  "brew install xz",
]

[tool.cibuildwheel.macos.environment]
# set environment variables to be able to use the brew libraries
CFLAGS="-I$(brew --prefix xz)/include"
LDFLAGS="-L$(brew --prefix xz)/lib" 
CPPFLAGS="-I$(brew --prefix xz)/include"
PKG_CONFIG_PATH="$(brew --prefix xz)/lib/pkgconfig"

[tool.cibuildwheel.windows]
# Install mingw
before-all = [
  "choco install mingw --force -y",
]

# write a setup.cfg to use mingw as compiler
before-build = [
    'pip install delvewheel setuptools', 
    '''python -c "import os; p = os.path.expanduser('~\\pydistutils.cfg'); t = '[build]\ncompiler=mingw32\n[build_ext]\ncompiler=mingw32'; f = open(p, 'w'); f.write(t); f.close()"''',
    'copy C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin\libiconv-2.dll C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin\iconv.dll',
    'dir C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin',
]

# add dlls from mingw to the wheel to be standalone
repair-wheel-command = "delvewheel repair -w {dest_dir} {wheel} --add-path C:\\ProgramData\\chocolatey\\lib\\mingw\\tools\\install\\mingw64\\bin"

[tool.cibuildwheel.windows.environment]
# add mingw to the path
PATH="$PATH;C:\\ProgramData\\chocolatey\\lib\\mingw\\tools\\install\\mingw64\\bin"
CC="gcc"
CXX="g++"


#[tool.cibuildwheel.config-settings.windows]
# set mingw32 and compiler
#--compiler="mingw32"
#[tool.cibuildwheel.windows]
#before-build = [
    #"python.exe setup.py config --compiler=mingw32",
#]
